<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coursera.bicoloreye.petagramfragment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".vista.activity.AccountSettingsActivity"
            android:parentActivityName=".vista.activity.MainActivity">
            <!-- soporte a versiones anteriores 4.0 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vista.activity.MainActivity" />
        </activity>
        <activity
            android:name=".vista.activity.AboutActivity"
            android:parentActivityName=".vista.activity.MainActivity">

            <!-- soporte a versiones anteriores 4.0 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vista.activity.MainActivity" />
        </activity>
        <activity
            android:name=".vista.activity.ContactoActivity"
            android:parentActivityName=".vista.activity.MainActivity">

            <!-- soporte a versiones anteriores 4.0 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vista.activity.MainActivity" />
        </activity>
        <activity
            android:name=".vista.activity.FavoritosActivity"
            android:parentActivityName=".vista.activity.MainActivity">

            <!-- soporte a versiones anteriores 4.0 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vista.activity.MainActivity" />
        </activity>
        <activity android:name=".vista.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>